.container {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.products-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 50px;
    margin-top: 20px;
}

.card {
    width: 230px;
    height: 280px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    background-color: transparent; 
    text-align: center;  
    margin: 30px auto;    
    cursor: pointer;  
    text-decoration: none;
    color: #000;
   }

.card h5{
    height: 44px;
    font-size: 16px;
    overflow: hidden;
    padding: 0 4px;
    margin: 8px;
}

.card img{
    height: 140px;
    object-fit: contain;
}

.card span{
    font-size: 18px
}