
.loader {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 10px;
    margin: 100px auto;
  }
  
  .loader div {
    width: 8%;
    height: 24%;
    background: rgb(128, 128, 128);
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    animation: fade458 1s linear infinite;
  }
  
  @keyframes fade458 {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.25;
    }
  }
  
  .loader .bar1 {
    transform: rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
  }
  
  .loader .bar2 {
    transform: rotate(30deg) translate(0, -130%);
    animation-delay: -1.1s;
  }
  
  .loader .bar3 {
    transform: rotate(60deg) translate(0, -130%);
    animation-delay: -1s;
  }
  
  .loader .bar4 {
    transform: rotate(90deg) translate(0, -130%);
    animation-delay: -0.9s;
  }
  
  .loader .bar5 {
    transform: rotate(120deg) translate(0, -130%);
    animation-delay: -0.8s;
  }
  
  .loader .bar6 {
    transform: rotate(150deg) translate(0, -130%);
    animation-delay: -0.7s;
  }
  
  .loader .bar7 {
    transform: rotate(180deg) translate(0, -130%);
    animation-delay: -0.6s;
  }
  
  .loader .bar8 {
    transform: rotate(210deg) translate(0, -130%);
    animation-delay: -0.5s;
  }
  
  .loader .bar9 {
    transform: rotate(240deg) translate(0, -130%);
    animation-delay: -0.4s;
  }
  
  .loader .bar10 {
    transform: rotate(270deg) translate(0, -130%);
    animation-delay: -0.3s;
  }
  
  .loader .bar11 {
    transform: rotate(300deg) translate(0, -130%);
    animation-delay: -0.2s;
  }
  
  .loader .bar12 {
    transform: rotate(330deg) translate(0, -130%);
    animation-delay: -0.1s;
  }
.product-details {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
   
}

.product-images{
    width: 68%;  
}

.product-images img{
    padding: 10px;
   
    object-fit: contain;
    width: 320px;
    height: 320px;
  
}

.product-info {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
.product-info h3{
    background-color: transparent;
}

.product-info .card-header, .card-price, .card-buttons{
    margin-bottom: 40px;
}

.product-info .card-price .strong{
    font-size: 32px;
}



.product-info .card-buttons button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 100%;
    height: 2.6em;
    line-height: 2.5em;
    margin: 4px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    cursor: pointer;
   }
   
.product-info .card-buttons button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 500px;
    border-radius: 50%;
   }
   
.product-info .card-buttons button:hover {
    color: #fff;
   }
   
.product-info .card-buttons button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }

.product-info button:hover:before {
    top: -70px;
    left: -40px;
   }
   
.product-info button:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }

