
header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: transparent;
    box-shadow: 2px 2px 2px rgba(28, 24, 24, 0.42);
}

.max-width {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px 10px;
}

.logo {
    font-size: 40px;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    color: #000;
    background-clip: text;
    text-decoration: none;
    font-family: 'Righteous', cursive;
}

.logo strong {
    color: #0d6dda;
}


.nav {
    display: flex;
    justify-content: center;
}

.wishlist{
    display: flex;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    background-color: transparent;
    padding: 10px 14px;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s ease;
    align-items: center;
    justify-content: center;
}

.favorites {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    color: #000;
    background-color: transparent;
    padding: 10px 14px;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s ease;
    align-items: center;
    justify-content: center;
}

.favorites:hover, .wishlist:hover {
    color: #0d6dda;
}

.favorites ion-icon{
    background-color: transparent;
    font-size: 28px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999999;
    border-radius: 20px;
    margin-right: 10px;
}

.search input {
    width: 220px;
    
    font-size: 17px;
    font-family: 'DM Sans', sans-serif;
    border-radius: 20px;
    border: none;
    background-color: #999999;
    color: #ffffff;
    font-weight: bold;
    outline: 0;
    padding-left: 20px;
}

.search input::placeholder{
    color: #424242;
}

.search button {
    background: none;
    color: #48D9C3;
    border: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-right: 10px;
}

@media (max-width: 690px) {

    .favorites {
    font-size: 13px;
    padding: 13px 10px;
    }
 
    .search {
         width: 190px;   
         margin-right: 5px 
    }

    .search input {
        font-size: 13px;
        width: 100%;
    }

    
}

@media (max-width: 580px) {

    .logo {
        align-items: center;
        text-align: center;
        width: 110px;  
        font-size: 17px;
    
    }  



    .search {
         width: 165px;   
         margin-right: 5px 
    }

    .search input {
        font-size: 13px;
        width: 100%;
    }

}

@media (max-width: 398px) {

    .search {
         width: 120px;   
    }

    .search input {
    font-size: 10px;
    }

    .favorites {
    font-size: 10px;
    padding: 15px 6px;
    }

    .logo {
        align-items: center;
        text-align: center;
        width: 90px;  
        font-size: 15px;
    }

    
} 